 .container {
     max-width: 700px; 
     margin: 0 auto; 
     padding: 0 2cqmin; 
     display: flex; 
     flex-direction: column; 
     gap: 40px; 
     background-color: #E5E5E5;
     padding: 30px 0;
 }
 h1{
     font-size: 30px;
     padding: 30px 0;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #F05835;
 }
 .product-grid {
     display: grid; 
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
     grid-gap: 50px; 
 }
 .product-card {
     background-color: #ffffff; 
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
     border-radius: 8px; 
     padding: 1.5rem; 
     transition: all 0.3s ease; 
     &:hover { 
         transform: translateY(-5px); // Y ekseninde yukarı kaydırma
     }
     img {
         width: 100%; 
         height: 500px; 
         object-fit: cover; 
         border-radius: 6px; 
         margin-bottom: 1rem; 
     }
     h3 {
         font-size: 1.25rem; 
         font-weight: 600; 
         margin-bottom: 0.5rem;
     }
     p {
         color: #4a5568; 
         font-size: 1rem; 
         margin-bottom: 1rem; 
     }
     .button-primary {
         background-color: #F15834; 
         color: #ffffff; 
         font-weight: 600;
         padding: 0.75rem 1.5rem;
         border-radius: 9999px; 
         transition: background-color 0.3s ease; 
         border: #F15834;
         &:hover { 
             background-color: #F15834; 
         }
     }
 }
 .grid {
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* İstenilen grid düzeni */
     gap: 20px; /* Ürün kartları arasında mesafe */
 }
 .product-card {
     background-color: #FFFFFF;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     transition: transform 0.2s ease-in-out;
 }
 .product-card:hover {
     transform: translateY(-5px);
 }

